name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  standard_api_ci:
    name: CI
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        encoder:
          - jbuilder
          - turbostreamer
        ruby-version:
          - 3.2
          - 3.3
          - 3.4
          - 4.0
        rails-version:
          - 7.2.2.1
          - 8.0.4
          - 8.1.2
          - main
        postgres-version:
          - 15
        exclude:
          - ruby-version: 3.2
            rails-version: main

    steps:
      - name: Install Postgresql
        run: |
          sudo apt-get -y --purge remove $(sudo apt list --installed | grep postgresql | awk '{print $1}')
          sudo apt-get install curl ca-certificates gnupg
          curl https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
          sudo sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list'
          sudo apt-get update
          sudo apt-get -y install postgresql-${{ matrix.postgres-version }}-postgis-3
          sudo systemctl start postgresql@${{ matrix.postgres-version }}-main.service
          sudo systemctl status postgresql@${{ matrix.postgres-version }}-main.service
          sudo pg_lsclusters
          sudo -u postgres createuser runner --superuser
          sudo -u postgres psql -c "ALTER USER runner WITH PASSWORD 'runner';"

      - name: Install YAJL
        run: |
          wget 'https://github.com/lloyd/yajl/archive/refs/tags/2.1.0.tar.gz'
          tar -xvf '2.1.0.tar.gz'
          cd 'yajl-2.1.0' && ./configure && make && sudo make install
          sudo ldconfig

      - uses: actions/checkout@v4

      - run: |
          if [ "${{ matrix.rails-version }}" = "main" ]; then
            echo 'gem "rails", github: "rails/rails", branch: "main"' >> Gemfile
          else
            echo 'gem "rails", "${{ matrix.rails-version }}"' >> Gemfile
          fi
          echo 'gem "wankel"' >> Gemfile

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true

      - run: bundle exec rake test:${{ matrix.encoder }}